In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("./data.xlsx", sheet_name="data")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Input   20 non-null     int64
 1   Output  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [3]:
display(data)

    Input  Output
0       0       0
1       1       3
2       2       6
3       3       9
4       4      12
5       5      15
6       6      18
7       7      21
8       8      24
9       9      27
10     10      30
11     11      33
12     12      36
13     13      39
14     14      42
15     15      45
16     16      48
17     17      51
18     18      54
19     19      57

## Test Train Ratio

In [4]:
print("Train data rows", (70*len(data))/100)
print("Test data rows", (30*len(data))/100)

Train data rows 14.0
Test data rows 6.0

In [5]:
X_train = data.loc[:14,"Input"]
Y_train = data.loc[:14,"Output"]

X_test = data.loc[15:,"Input"]
Y_test = data.loc[15:,"Output"]

In [6]:
X_train

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
Name: Input, dtype: int64

In [7]:
Y_train

0      0
1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
11    33
12    36
13    39
14    42
Name: Output, dtype: int64

# Train Test Split with from sklearn

In [8]:
data.head()

   Input  Output
0      0       0
1      1       3
2      2       6
3      3       9
4      4      12

In [9]:
X = data['Input']
Y = data['Output']
X

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: Input, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                                    test_size=0.3,
                                                   shuffle=False)

In [11]:
X_train

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
Name: Input, dtype: int64

In [12]:
X_test

14    14
15    15
16    16
17    17
18    18
19    19
Name: Input, dtype: int64

# we can shuffle the data

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                                    test_size=0.3,
                                                   shuffle=True)

In [14]:
X_train

18    18
5      5
11    11
2      2
14    14
12    12
6      6
9      9
19    19
3      3
10    10
15    15
7      7
16    16
Name: Input, dtype: int64