In [ ]:
# https://www.w3schools.com/python/python_operators.asp
operators
= assign value
+ addition
- subtraction
* multiplication
/ Division
% modulas
// Flood Division

# Assign operator

In [1]:
# variable_name = value
#               = ""

abc

In [6]:
# teacher_name = "Muhammad Qasim"
# teacher_name = 'Muhammad Qasim'
# teacher_name = """Muhammad Qasim"""
teacher_name = '''Muhammad Qasim'''

print(teacher_name)
print(type(teacher_name))
print(id(teacher_name))

Muhammad Qasim
<class 'str'>
2914909108464

In [7]:
t1 = "Qasim"
t2 = "Qasim"

print(t1)
print(type(t1))
print(id(t1))


print(t2)
print(type(t2))
print(id(t2))

Qasim
<class 'str'>
2914869432624
Qasim
<class 'str'>
2914869432624

In [8]:
num1 = 10 # int
num2 = 5 # int
print(num1 + num2) # result int

15

In [11]:
num1 = 10 # int
num2 = 5 # int
print(num1 - num2) # result int

5

In [12]:
num1 = 10 # int
num2 = 5 # int
print(num1 * num2) # result int

50

In [13]:
num1 = 10 # int
num2 = 5 # int
print(num1 / num2) # result int

2.0

In [14]:
num1 = 11 # int
num2 = 3 # int
print(num1 % num2) # result int

2

In [15]:
num1 = 10 # int
num2 = 5 # int
print(num1 // num2) # result int

2

In [16]:
num1 = 14 # int
num2 = 5 # int
print(num1 // num2) # result int

2

In [10]:
num1 = 10.2 # int
num2 = 5 # int
result = num1 + num2
print(result) # result float
print(type(result)) # result float

15.2
<class 'float'>

## Assign operators +=, -=

In [20]:
a = 5
print(a)
a = a + 3
print(a)
a += 4
print(a)

5
8
12

# String concatination
### string formation

# https://www.tutorialspoint.com/python/python_strings.htm

In [22]:
# if we did'nt use """ """ then we have to apply all scape character in values

student_card = """
a           pakistan
b
c
"""

print(student_card)

a           pakistan
b
c

In [23]:
student_card = """
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: 0001

Name: Muhammad Qasaim \t Father's Name: Muhammad Aslam
Batch: 3                 timing: 9 pm to 12 am
"""

print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: 0001

Name: Muhammad Qasaim 	 Father's Name: Muhammad Aslam
Batch: 3                 timing: 9 pm to 12 am

In [24]:
student_card = """
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {}

Name: {} \t Father's Name: {}
Batch: {}                 timing: {}
"""

print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {}

Name: {} 	 Father's Name: {}
Batch: {}                 timing: {}

In [25]:
roll_no = '00012'
student_name = "Mustufa"
f_name = "Abdul Raziq"
batch = "Batch 3"
timing = "9 pm to 12 am"

student_card = """
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {}

Name: {} \t Father's Name: {}
Batch: {}                 timing: {}
"""

print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {}

Name: {} 	 Father's Name: {}
Batch: {}                 timing: {}

In [31]:
# f""" """


roll_no = '000123'
student_name = "Mustufa"
f_name = "Abdul Raziq"
batch = "Batch 3"
timing = "9 pm to 12 am"
age = 24

student_card = f"""
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {roll_no}

Name: {student_name} \t Father's Name: {f_name}
Batch: {batch}                 timing: {timing}
Age: {age}
"""

print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: 000123

Name: Mustufa 	 Father's Name: Abdul Raziq
Batch: Batch 3                 timing: 9 pm to 12 am
Age: 24

In [28]:
# """ """.format()
roll_no = '00012'
student_name = "Mustufa"
f_name = "Abdul Raziq"
batch = "Batch 3"
timing = "9 pm to 12 am"

student_card = """
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {}

Name: {} \t Father's Name: {}
Batch: {}                 timing: {}
""".format(roll_no, student_name, f_name, batch,timing)

print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: 00012

Name: Mustufa 	 Father's Name: Abdul Raziq
Batch: Batch 3                 timing: 9 pm to 12 am

In [30]:
# """ """.format()
roll_no = '00012'
student_name = "Mustufa"
f_name = "Abdul Raziq"
batch = "Batch 3"
timing = "9 pm to 12 am"

student_card = """
Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: {1}

Name: {0} \t Father's Name: {2}
Batch: {3}                 timing: {4}
""".format(roll_no, student_name, f_name, batch,timing)
#            0         1            2        3    4
print(student_card)

Saylani Welfar International Trust
Advance Data Science / Artificial Intelligent

Roll no: Mustufa

Name: 00012 	 Father's Name: Abdul Raziq
Batch: Batch 3                 timing: 9 pm to 12 am

# + operator with string

In [37]:
a1 = "1"
a2 = "1"
a1+a2

'11'

In [33]:
"1" + 1

TypeError: can only concatenate str (not "int") to str

In [35]:
type("1")

str

In [36]:
"1" + str(1)

'11'

In [38]:
1 + 1

2

In [39]:
s1 = 70
s2 = 50
s3 = 80
s4 = 30

"total obtain marks: " + str(s1 + s2 + s3 + s4)

'total obtain marks: 230'

In [40]:
s1 = 70
s2 = 50
s3 = 80
s4 = 30

f"total obtain marks: {s1+s2+s3+s4}"

'total obtain marks: 230'

# Get result on run time

In [42]:
a1 = print("Qasim") # Non-return function
print(a1)

Qasim
None

In [43]:
a1 = input() # always return string value
print(a1)

Qasim
Qasim

In [44]:
a1 = input("Your Good name: ")
print(a1)

Your Good name: Muhammad Qasim
Muhammad Qasim

In [45]:
print(a1)
print(type(a1))

Muhammad Qasim
<class 'str'>

# Logical Operators

In [46]:
a1 = "Qasim"
a2 = "Muhammad Qasim"

a1 == a2
# "Qasim" == "Muhammad Qasim"
# False

False

In [47]:
a1 = "Qasim"
a2 = "qasim"

a1 == a2
#Qasim == qasim
# False

False

In [48]:
5 > 3

True

In [49]:
5 > 5

False

In [50]:
5 > 7

False

In [51]:
7 < 10

True

In [52]:
5 >= 5

True

In [53]:
6 >= 8

False

In [54]:
5 != 5 # not equal

False

In [55]:
5 <> 5

SyntaxError: invalid syntax (Temp/ipykernel_9776/3638499027.py, line 1)

# Python Membership Operators

In [59]:
p1 = """
we are learning AI in Saylani, we love to write python code...
"""

'Saylani' in p1

True

In [57]:
p1 = """
we are learning AI in Saylani, we love to write python code...
"""

'Saylani' not in p1

False

# Python Identity Operators

In [60]:
a1 = "Qasim"
a2 = "Qasim"

a1 is a2

True