In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.read_clipboard()

   id  name
0   1     2
1   2     4

In [3]:
pd.read_clipboard()

   id  name
0   1     2
1   2     4

In [4]:
data = [
    {"id": 1, "name": {"first": "Coleen", "last": "Volk"}},
    {"name": {"given": "Mark", "family": "Regner"}},
    {"id": 2, "name": "Faye Raker"},
]
pd.json_normalize(data)

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

In [5]:
import json

In [8]:
with open('1.json') as f:
    a = json.load(f)
print(a)

{'id': '0d32a250-f85a-11ec-a111-c956c759ead9', 'type': 'chat', 'pageId': '5db130a5df22d91339a0c321', 'visitor': {'name': 'Hassan Sardar', 'id': '49368169cabf1b1c7dc51651026bf45378bb0b24e7486997a386d98ece6dcfc7', 'email': 'hassansardar620@gmail.com'}, 'location': {'countryCode': 'PK', 'city': 'Lahore'}, 'messageCount': 4, 'chatDuration': 411, 'rating': 0, 'createdOn': '2022-06-30T09:50:54.436Z', 'messages': [{'sender': {'t': 's'}, 'type': 'msg', 'time': '2022-06-30T09:50:54.436Z', 'msg': 'Welcome to our site, if you need help simply reply to this message, we are online and ready to help.'}, {'sender': {'t': 'v'}, 'type': 'msg', 'time': '2022-06-30T09:53:54.854Z', 'msg': 'Name : Hassan Sardar\r\nEmail : hassansardar620@gmail.com\r\nPhone : 03067460561\r\nCRN-No or 0000 : 102848'}, {'sender': {'t': 's'}, 'type': 'msg', 'time': '2022-06-30T09:54:04.876Z', 'msg': 'How may I help you'}, {'sender': {'t': 'v'}, 'type': 'msg', 'time': '2022-06-30T09:54:32.824Z', 'msg': 'How to fill verification form?'}, {'sender': {'t': 'a', 'n': 'saira maqbool'}, 'type': 'msg', 'time': '2022-06-30T09:57:42.148Z', 'msg': 'online via your login'}, {'sender': {'t': 'a', 'n': 'saira maqbool'}, 'type': 'msg', 'time': '2022-06-30T09:57:43.494Z', 'msg': 'Thank you for contacting Chat bot Team. In  future For your queries you may contact with our Chat  bot Team :)'}], 'domain': 'student.icap.org.pk'}

In [10]:
pd.DataFrame(a)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [11]:
with open('1.json') as f:
    a = json.load(f)
    df = pd.json_normalize(a)
df

,id,type,pageId,messageCount,chatDuration,rating,createdOn,messages,domain,visitor.name,visitor.id,visitor.email,location.countryCode,location.city
0,0d32a250-f85a-11ec-a111-c956c759ead9,chat,5db130a5df22d91339a0c321,4,411,0,2022-06-30T09:50:54.436Z,"[{'sender': {'t': 's'}, 'type': 'msg', 'time':...",student.icap.org.pk,Hassan Sardar,49368169cabf1b1c7dc51651026bf45378bb0b24e74869...,hassansardar620@gmail.com,PK,Lahore