In [ ]:
for variable in list:
    for_loop_body

In [4]:
names = ["A","B","C","D"]

i = 0
while i < len(names):
    print(names[i])
    i += 1

A
B
C
D

In [5]:
for name in names:
    print(name)

A
B
C
D

In [20]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

i = 0
while i<len(data):
    print(data[list(data.keys())[i]])
    i +=1

1
Qasim
DS

In [19]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

for k in data:
    print(data[k])

1
Qasim
DS

In [28]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

for k in data.keys():
    print(k)

id
name
course

In [29]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

for v in data.values():
    print(v)

1
Qasim
DS

In [24]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

i = 0
while i<len(data):
    print(list(data.keys())[i],  list(data.values())[i]  )
    i +=1

id 1
name Qasim
course DS

In [27]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

i = 0
while i<len(data):
    print( list(data.items())[i]  )
    i +=1

('id', 1)
('name', 'Qasim')
('course', 'DS')

In [30]:
a, b ,c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [36]:
data = {
    "id":1,
    "name":"Qasim",
    "course":"DS"
       }

for k, v in data.items():
    print(k, v)

id 1
name Qasim
course DS

In [35]:
a,b = (100,200)
print(a,b)

100 200

# comprehensive style

if
loop and nested loop

```if logic:
    true_block
else:
    false_block```
    
``` true_block if logic else false_block```

In [47]:
num = 21
"Even" if num % 2 == 0 else "Odd"

'Odd'

In [52]:
#range(start,end,step)
print(list(range(10)))
print(list(range(3,10)))
print(list(range(10)))
print(list(range(2,21,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [59]:
a = list(range(10))
a.reverse()
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List comprehensive
```
for variable in list:
   for_loop_body
```

```[for_loop_body for in list]```

In [68]:
l = []
for num in range(1,11):
    l.append(num)
    
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:

[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
print([num*2 for num in range(1,11)])
print([num**2 for num in range(1,11)])
print([num**3 for num in range(1,11)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Nest Loop

In [78]:
students = ['a','b','c','d']
courses = ['web','ds']

for student in students:
#     print(student,"parent")
    for course in courses:
        print(student, course,"child")

a web child
a ds child
b web child
b ds child
c web child
c ds child
d web child
d ds child

In [92]:
data = [[1,'a','ds'],
       [2,'b','web'],
       [3,'c','web'],
       [4,'d','ds']]
# data = ['a','b','c']
data

[[1, 'a', 'ds'], [2, 'b', 'web'], [3, 'c', 'web'], [4, 'd', 'ds']]

In [93]:
for row in  data:
    for cell in row:
        print(cell)

1
a
ds
2
b
web
3
c
web
4
d
ds

In [95]:
for row in  data:
    for cell in row:
        print(cell, end="====")
    print(end="\n")

1====a====ds====
2====b====web====
3====c====web====
4====d====ds====

In [96]:
for row in  data:
    for cell in row:
        print(cell,end=",")

1,a,ds,2,b,web,3,c,web,4,d,ds,

In [97]:
l = []
for row in  data:
    for cell in row:
        l.append(cell)
l

[1, 'a', 'ds', 2, 'b', 'web', 3, 'c', 'web', 4, 'd', 'ds']

In [99]:
data = [[1,'a','ds'],
       [2,'b','web'],
       [3,'c','web'],
       [4,'d','ds']]

[cell for row in data for cell in row]
#[neted_body parent_loop child_loop]

[1, 'a', 'ds', 2, 'b', 'web', 3, 'c', 'web', 4, 'd', 'ds']

In [102]:
[cell 
 for row in data 
 for cell in row]

[1, 'a', 'ds', 2, 'b', 'web', 3, 'c', 'web', 4, 'd', 'ds']

In [108]:
["Even" if num%2==0 else "Odd" for num in range(1,11)]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [109]:
[("Even",num) if num%2==0 else ("Odd",num) for num in range(1,11)]

[('Odd', 1),
 ('Even', 2),
 ('Odd', 3),
 ('Even', 4),
 ('Odd', 5),
 ('Even', 6),
 ('Odd', 7),
 ('Even', 8),
 ('Odd', 9),
 ('Even', 10)]

In [105]:
[num for num in range(1,11) if num%2==0]

[2, 4, 6, 8, 10]

In [112]:
names = ['a','b','c','d']
list(enumerate(names))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [113]:
for indx, name in enumerate(names):
    print(indx, name)

0 a
1 b
2 c
3 d

In [5]:
list(zip  (['a','b','x'],[4,5,6]) )

[('a', 4), ('b', 5), ('x', 6)]

In [7]:
mydict = {k:v for k,v in list(zip(['a','b','c'],[4,5,6]))}

In [6]:
list(zip(['a','b','c'],[4,5,6]))

[('a', 4), ('b', 5), ('c', 6)]

In [8]:
print(mydict)

{'a': 4, 'b': 5, 'c': 6}